<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Your Images</title>
  </head>

  <body>
        <h2>Your Images</h2>
        <form action="/show_anomalies" method="POST">
        <input type="submit" value="Show anomalies.">
        </form>
        <h4>The neural network model will ingest these images after re-sizing them to 256x256 pixel squares. Here they are re-sized to a 128x128 format, indicating how much distortion will be introduced.</h4>
        <p>&nbsp;</p>
        <table border="1px solid black" style="width:300px">
        {% for img0, img1, img2, img3, img4, img5, img6, img7 in data %}
            <tr>
	    <td><img src="{{ url_for('static', filename=img0) }}" style="width:128px;height:128px;"></img></td>
	    <td>{{ i}}</td><td><img src="{{ url_for('static', filename=img1) }}" style="width:128px;height:128px;"></img></td>
	    <td>{{ i}}</td><td><img src="{{ url_for('static', filename=img2) }}" style="width:128px;height:128px;"></img></td>
	    <td>{{ i}}</td><td><img src="{{ url_for('static', filename=img3) }}" style="width:128px;height:128px;"></img></td>
	    <td>{{ i}}</td><td><img src="{{ url_for('static', filename=img4) }}" style="width:128px;height:128px;"></img></td>
	    <td>{{ i}}</td><td><img src="{{ url_for('static', filename=img5) }}" style="width:128px;height:128px;"></img></td>
	    <td>{{ i}}</td><td><img src="{{ url_for('static', filename=img6) }}" style="width:128px;height:128px;"></img></td>
	    <td>{{ i}}</td><td><img src="{{ url_for('static', filename=img7) }}" style="width:128px;height:128px;"></img></td>
            </tr>
        {% endfor %}
        </table>
    <hr>
  </body>
</html>
